# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion
*.iml

## Directory-based project format:
.idea/
logs/

## File-based project format:
*.ipr
*.iws

# IntelliJ
/out/